* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: skyblue;
}

button {
  height: 48px;
  width: 50px;
  display: block;
  color: white;
  background-color: #2b8efc;
  padding: 5px;
  border: 0px none;
  border-radius: 5px;
}
