.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 2px solid black;
  width: 100px;
}

.item {
  border: 3px solid black;
  opacity: 0.9;
  width: 200px;
  height: 200px;
  background-color: red;
}
.item:first-child {
  background-color: yellow;
}
.item:last-child {
  background-color: blue;
}

.menu {
  margin: 20px 0;
  border: 3px solid black;
  height: 48px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
